.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 0 3rem 0;
}

/* Headline */

.headline__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.headline__title {
  position: relative;
  font-size: 1.25rem;
}

.headline__title::after {
  z-index: -1;
  content: '';
  position: absolute;
  inset: 50% 0 auto 0;
  translate: 0 -50%;
  height: 0.25rem;
  background-color: var(--primary);
}

.headline__title-container {
  padding-right: 0.5rem;
  background-color: var(--white);
}

.headline__posts {
  display: grid;
  align-items: stretch;
  gap: 1rem;
}

@media (min-width: 768px) {
  .headline__posts {
    grid-template-columns: 3fr 2fr;
  }
}

.headline__main-post-wrapper {
  display: contents;
}

.headline__main-post-link {
  display: block;
  position: relative;
  height: 100%;
  border-radius: 0.5rem;
  line-height: 1.25;
  overflow: hidden;
}

.headline__main-post-link--skeleton {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.headline__main-post-thumbnail {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  filter: brightness(80%);
  transition: rotate 0.5s, scale 0.5s, filter 0.5s;
}

.headline__main-post-link:hover .headline__main-post-thumbnail {
  rotate: 2deg;
  scale: 1.15;
  filter: initial;
}

.headline__main-post-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem;
  background-image: linear-gradient(to top, var(--black), transparent);
  color: var(--white);
  transition: padding-bottom 0.5s;
}

.headline__main-post-link:hover .headline__main-post-content {
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .headline__main-post-content {
    padding: 1.5rem;
  }

  .headline__main-post-link:hover .headline__main-post-content {
    padding-bottom: 2rem;
  }
}

.headline__main-post-logo {
  height: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: var(--white);
}

.headline__main-post-title {
  --truncate-lines: 2;

  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-wrap: balance;
}

@media (min-width: 768px) {
  .headline__main-post-title {
    --truncate-lines: 3;
  }
}

.headline__main-post-description {
  --truncate-lines: 2;

  font-size: 0.8rem;
  color: var(--gray-1);
  text-wrap: balance;
  transition: color 0.5s;
}

@media (min-width: 768px) {
  .headline__main-post-description {
    --truncate-lines: 3;
  }
}

.headline__main-post-link:hover .headline__main-post-description {
  color: var(--white);
}

.headline__side-posts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-content: space-between;
  gap: 1rem;
}

.headline__side-post-link {
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: stretch;
  gap: 0.75rem;
  line-height: 1.25;
}

.headline__side-post-thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem;
  filter: brightness(80%);
  transition: filter 0.5s;
}

.headline__side-post-link:hover .headline__side-post-thumbnail {
  filter: initial;
}

.headline__side-post-thumbnail--skeleton {
  filter: initial;
}

.headline__side-post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headline__side-post-logo {
  height: 0.5rem;
  margin-bottom: 0.25rem;
}

.headline__side-post-logo--skeleton {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.headline__side-post-title {
  --truncate-lines: 2;

  margin-bottom: 0.15rem;
  font-size: 1rem;
  text-decoration: underline transparent;
  text-wrap: balance;
  transition: text-decoration-color 0.5s;
}

.headline__side-post-link:hover .headline__side-post-title {
  text-decoration-color: initial;
}

.headline__side-post-title--skeleton {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.headline__side-post-description {
  --truncate-lines: 2;

  font-size: 0.75rem;
  text-wrap: balance;
}

.headline__side-post-description--skeleton {
  width: 100%;
  height: 2rem;
}

/* Main Split */

.main-split__container {
  display: grid;
  grid-template-columns: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .main-split__container {
    grid-template-columns: 65% 35%;
  }
}

/* News by Category */

.news-by-category {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-by-category__title {
  padding-inline: 1rem;
  font-size: 1.75rem;
  font-weight: 600;
  font-variant: small-caps;
  color: var(--primary);
  text-align: center;
}

.news-by-category__category-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.news-by-category__category-button {
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.25rem;
  background-color: rgba(var(--gray-1-rgb), 0.75);
  border-radius: 0.25rem;
  font-size: 0.7rem;
  color: var(--gray-3);
  transition: background-color 0.5s, color 0.5s;
}

.news-by-category__category-button:not(
    .news-by-category__category-button--selected
  ):hover {
  background-color: rgba(var(--gray-2-rgb), 0.5);
}

.news-by-category__category-button--selected {
  background-color: var(--primary);
  color: var(--white);
}

.news-by-category__category-button-icon {
  font-size: 1rem;
}

.news-by-category__sites-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-group {
  display: flex;
  flex-direction: column;
}

.site-group__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-block: 0.5rem;
  margin-inline: 1rem;
  border-bottom: 2px solid var(--primary);
  font-size: 1rem;
  font-weight: 600;
}

.site-group__logo {
  height: 0.75rem;
}

.site-group__link-text {
  text-decoration: underline transparent;
  transition: text-decoration-color 0.25s;
}

.site-group__link:hover .site-group__link-text {
  text-decoration-color: initial;
}

.site-group__posts-wrapper {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .site-group__posts-wrapper {
    padding-inline: 0;
    margin-inline: 1rem;
  }
}

.site-group__posts-wrapper::-webkit-scrollbar {
  height: 0.25rem;
}

.site-group__posts-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(var(--primary-rgb), 0);
}

.site-group__posts-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: rgba(var(--primary-rgb), 0.25);
}

.site-group__posts-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

.site-group__post {
  scroll-snap-align: start;
}

.site-group__post-link {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.site-group__post-thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  transition: border-radius 0.5s;
}

.site-group__post-link:hover .site-group__post-thumbnail {
  border-radius: 0;
}

.site-group__post-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: 1.25;
}

.site-group__post-date {
  color: var(--gray-2);
  font-size: 0.75rem;
}

.site-group__post-date--skeleton {
  width: 50%;
  height: 1rem;
}

.site-group__post-title {
  --truncate-lines: 3;

  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: underline transparent;
  transition: text-decoration-color 0.25s;
}

.site-group__post-link:hover .site-group__post-title {
  text-decoration-color: initial;
}

.site-group__post-title--skeleton {
  height: 3.25rem;
}

/* Aside */

.aside {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .aside {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .aside {
    margin-left: 2.5rem;
  }
}

/* About Dev */

.about-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  margin-inline: 1rem;
  background-color: var(--gray-1);
  border-radius: 0.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .about-dev {
    margin-left: 0;
  }
}

.about-dev__title {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.about-dev__photo {
  width: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.about-dev__first-name {
  color: #3498db;
}

.about-dev__last-name {
  color: #f1c40f;
}

.about-dev__description {
  max-width: 25rem;
  font-size: 0.9rem;
  color: #333333;
}

.about-dev__cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  background-color: var(--text);
  border-radius: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--white);
  transition: box-shadow 0.25s;
}

.about-dev__cta:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(var(--black-rgb), 0.25);
}

.about-dev__cta-icon {
  font-size: 1rem;
  transition: rotate 0.5s;
}

.about-dev__cta:hover .about-dev__cta-icon {
  rotate: 20deg;
}
